Repository PHPOffice/PhpSpreadsheet, pull requests merged in 2020-07, with the labels that each got.

#1571 Restoring State After Static Changes in Tests
  tests/PhpSpreadsheetTests/Calculation/CalculationTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/DateTime/DayTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/Statistical/CountTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/CharTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/CleanTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/CodeTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/ConcatenateTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/DollarTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/ExactTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/FindTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/FixedTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/LeftTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/LenTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/LowerTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/MidTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/NumberValueTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/ProperTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/ReplaceTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/RightTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/SearchTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/SubstituteTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/TTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/TextJoinTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/TextTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/TrimTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/UpperTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/TextData/ValueTest.php
  tests/PhpSpreadsheetTests/Calculation/FunctionsTest.php
  tests/PhpSpreadsheetTests/Cell/AdvancedValueBinderTest.php
  tests/PhpSpreadsheetTests/Shared/StringHelperTest.php
  tests/PhpSpreadsheetTests/Style/NumberFormatTest.php
  tests/PhpSpreadsheetTests/Writer/Html/HtmlNumberFormatTest.php
Labels: testing

#1585 Reconcile function discrepancies between the documented lists, and the Calculation Engine
  docs/references/function-list-by-category.md
  docs/references/function-list-by-name.md
  src/PhpSpreadsheet/Calculation/Calculation.php
Labels: calculation engine, documentation

#1588 Implementation of MS Excel's LOGNORM.DIST(), NORM.S.DIST(), F.DIST(), GAUSS() and GAMMA() functions
  CHANGELOG.md
  src/PhpSpreadsheet/Calculation/Calculation.php
  src/PhpSpreadsheet/Calculation/Statistical.php
  tests/PhpSpreadsheetTests/Calculation/Functions/Statistical/FDist2Test.php
  tests/PhpSpreadsheetTests/Calculation/Functions/Statistical/GammaTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/Statistical/GaussTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/Statistical/LogNormDist2Test.php
  tests/PhpSpreadsheetTests/Calculation/Functions/Statistical/LogNormDistTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/Statistical/NormDistTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/Statistical/NormInvTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/Statistical/NormSDist2Test.php
  tests/PhpSpreadsheetTests/Calculation/Functions/Statistical/NormSDistTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/Statistical/NormSInvTest.php
  tests/PhpSpreadsheetTests/Calculation/Functions/Statistical/StandardizeTest.php
  tests/data/Calculation/Statistical/FDIST2.php
  tests/data/Calculation/Statistical/GAMMA.php
  tests/data/Calculation/Statistical/GAUSS.php
  tests/data/Calculation/Statistical/LOGNORMDIST.php
  tests/data/Calculation/Statistical/LOGNORMDIST2.php
  tests/data/Calculation/Statistical/NORMDIST.php
  tests/data/Calculation/Statistical/NORMINV.php
  tests/data/Calculation/Statistical/NORMSDIST.php
  tests/data/Calculation/Statistical/NORMSDIST2.php
  tests/data/Calculation/Statistical/NORMSINV.php
  tests/data/Calculation/Statistical/STANDARDIZE.php
Labels: calculation engine, testing

#1559 Support pageOrder in page setup for Xlsx/Xls Readers/Writers, and implement basic page setup support for other Readers/Writers
  CHANGELOG.md
  src/PhpSpreadsheet/Reader/Gnumeric.php
  src/PhpSpreadsheet/Reader/Gnumeric/PageSetup.php
  src/PhpSpreadsheet/Reader/Ods.php
  src/PhpSpreadsheet/Reader/Ods/PageSettings.php
  src/PhpSpreadsheet/Reader/Xls.php
  src/PhpSpreadsheet/Reader/Xlsx/PageSetup.php
  src/PhpSpreadsheet/Reader/Xml.php
  src/PhpSpreadsheet/Reader/Xml/PageSettings.php
  src/PhpSpreadsheet/Worksheet/PageMargins.php
  src/PhpSpreadsheet/Worksheet/PageSetup.php
  src/PhpSpreadsheet/Writer/Xls/Worksheet.php
  src/PhpSpreadsheet/Writer/Xlsx/Worksheet.php
  tests/PhpSpreadsheetTests/Reader/Gnumeric/PageSetupTest.php
  tests/PhpSpreadsheetTests/Reader/Ods/PageSetupTest.php
  tests/PhpSpreadsheetTests/Reader/Xls/PageSetupTest.php
  tests/PhpSpreadsheetTests/Reader/Xlsx/PageSetupTest.php
  tests/PhpSpreadsheetTests/Reader/Xml/PageSetupTest.php
  tests/PhpSpreadsheetTests/Worksheet/PageMarginsTest.php
  tests/data/Reader/Gnumeric/PageSetup.gnumeric
  tests/data/Reader/Ods/PageSetup.ods
  tests/data/Reader/XLS/PageSetup.xls
  tests/data/Reader/XLSX/PageSetup.xlsx
  tests/data/Reader/Xml/PageSetup.xml
Labels: reader/gnumeric, reader/ods, reader/xls, reader/xlsx, reader/xml

#1545 Improve Coverage for ODS Reader
  CHANGELOG.md
  src/PhpSpreadsheet/Reader/Ods.php
  src/PhpSpreadsheet/Reader/Ods/Properties.php
  tests/PhpSpreadsheetTests/Reader/Ods/OdsInfoTest.php
  tests/PhpSpreadsheetTests/Reader/Ods/OdsTest.php
  tests/data/Reader/Ods/corruptMeta.ods
  tests/data/Reader/Ods/data.ods
  tests/data/Reader/Ods/nomimetype.ods
Labels: testing

#1535 Named formula implementation, and improved handling of Defined Names generally
  CHANGELOG.md
  docs/topics/defined-names.md
  docs/topics/recipes.md
  samples/DefinedNames/AbsoluteNamedRange.php
  samples/DefinedNames/CrossWorksheetNamedFormula.php
  samples/DefinedNames/NamedFormulaeAndRanges.php
  samples/DefinedNames/RelativeNamedRange.php
  samples/DefinedNames/RelativeNamedRange2.php
  samples/DefinedNames/RelativeNamedRangeAsFunction.php
  samples/DefinedNames/ScopedNamedRange.php
  samples/DefinedNames/ScopedNamedRange2.php
  samples/DefinedNames/SimpleNamedFormula.php
  samples/DefinedNames/SimpleNamedRange.php
  src/PhpSpreadsheet/Calculation/Calculation.php
  src/PhpSpreadsheet/Calculation/Engine/Logger.php
  src/PhpSpreadsheet/Calculation/Functions.php
  src/PhpSpreadsheet/Calculation/LookupRef.php
  src/PhpSpreadsheet/Cell/AddressHelper.php
  src/PhpSpreadsheet/Cell/Cell.php
  src/PhpSpreadsheet/DefinedName.php
  src/PhpSpreadsheet/NamedFormula.php
  src/PhpSpreadsheet/NamedRange.php
  src/PhpSpreadsheet/Reader/Gnumeric.php
  src/PhpSpreadsheet/Reader/Ods.php
  src/PhpSpreadsheet/Reader/Xlsx.php
  src/PhpSpreadsheet/Reader/Xml.php
  src/PhpSpreadsheet/ReferenceHelper.php
  src/PhpSpreadsheet/Spreadsheet.php
  src/PhpSpreadsheet/Worksheet/BaseDrawing.php
  src/PhpSpreadsheet/Worksheet/Worksheet.php
  src/PhpSpreadsheet/Writer/Ods/Content.php
  src/PhpSpreadsheet/Writer/Ods/Formula.php
  src/PhpSpreadsheet/Writer/Ods/NamedExpressions.php
  src/PhpSpreadsheet/Writer/Xls.php
  src/PhpSpreadsheet/Writer/Xls/Parser.php
  src/PhpSpreadsheet/Writer/Xls/Workbook.php
  src/PhpSpreadsheet/Writer/Xls/Worksheet.php
  src/PhpSpreadsheet/Writer/Xlsx/DefinedNames.php
  src/PhpSpreadsheet/Writer/Xlsx/Workbook.php
  tests/PhpSpreadsheetTests/Calculation/DefinedNamesCalculationTest.php
  tests/PhpSpreadsheetTests/Calculation/Engine/RangeTest.php
  tests/PhpSpreadsheetTests/Calculation/FormulaAsStringTest.php
  tests/PhpSpreadsheetTests/DefinedNameFormulaTest.php
  tests/PhpSpreadsheetTests/DefinedNameTest.php
  tests/PhpSpreadsheetTests/NamedFormulaTest.php
  tests/PhpSpreadsheetTests/NamedRangeTest.php
  tests/PhpSpreadsheetTests/ReferenceHelperTest.php
  tests/PhpSpreadsheetTests/Writer/Xls/FormulaErrTest.php
  tests/PhpSpreadsheetTests/Writer/Xls/WorkbookTest.php
  tests/data/Calculation/DefinedNames/NamedFormulae.xlsx
  tests/data/Calculation/DefinedNames/NamedRanges.xlsx
  tests/data/ReferenceHelperFormulaUpdatesMultipleSheet.php
  tests/data/Writer/Ods/content-with-data.xml
Labels: BREAKING CHANGE, calculation engine, reader/gnumeric, reader/ods, reader/xls, reader/xlsx, reader/xml, writer/ods, writer/xls, writer/xlsx
