Repository PHPOffice/PhpSpreadsheet, pull requests merged in 2020-05, with the labels that each got.

#1292 Support writing to resource handles in all IWriter implementations
  composer.json
  composer.lock
  src/PhpSpreadsheet/Shared/OLE/PPS/Root.php
  src/PhpSpreadsheet/Writer/BaseWriter.php
  src/PhpSpreadsheet/Writer/Csv.php
  src/PhpSpreadsheet/Writer/Html.php
  src/PhpSpreadsheet/Writer/IWriter.php
  src/PhpSpreadsheet/Writer/Ods.php
  src/PhpSpreadsheet/Writer/Pdf.php
  src/PhpSpreadsheet/Writer/Pdf/Dompdf.php
  src/PhpSpreadsheet/Writer/Pdf/Mpdf.php
  src/PhpSpreadsheet/Writer/Pdf/Tcpdf.php
  src/PhpSpreadsheet/Writer/Xls.php
  src/PhpSpreadsheet/Writer/Xlsx.php
  tests/PhpSpreadsheetTests/Functional/StreamTest.php
Labels: writer/csv, writer/html, writer/ods, writer/pdf, writer/xls, writer/xlsx

#1481 fix: issue #1476 crash with numeric string value terminating with new line
  CHANGELOG.md
  src/PhpSpreadsheet/Cell/DefaultValueBinder.php
  tests/PhpSpreadsheetTests/Cell/DefaultValueBinderTest.php
  tests/data/Cell/DefaultValueBinder.php
Labels: missing test

#1462 Fix saving XLSX with drawings
  CHANGELOG.md
  src/PhpSpreadsheet/Writer/Xlsx/Rels.php
  src/PhpSpreadsheet/Writer/Xlsx/Worksheet.php
  tests/PhpSpreadsheetTests/Writer/Xlsx/DrawingsTest.php
  tests/data/Writer/XLSX/drawing_on_2nd_page.xlsx
Labels: writer/xlsx
